NEXTCLOUD_CONTAINER = nextcloud
DOCKER_COMPOSE_DIR = /home/kanasu/git.hyperveloce/debian.kanasu
LOG_FILE = /home/kanasu/log/docker-update.log

# configs/yourhost.config
MAKE_DOCKER_TARGETS = docker-check docker-compose-update
MAKE_UPDATE_TARGETS = apt flatpak firmware pip npm custom

# For printing purposes
ENABLE_FLATPAK = true
ENABLE_FWUPD = true
ENABLE_PIP = true
ENABLE_NPM = true
CUSTOM_COMMAND = ""
