NEXTCLOUD_CONTAINER = nextcloud
DOCKER_COMPOSE_DIR = /home/kanasu/git.hyperveloce/debian.kanasu
LOG_FILE = /home/kanasu/log/docker-update.log

# configs/yourhost.config
MAKE_DOCKER_TARGETS = docker-check docker-compose-update
MAKE_UPDATE_TARGETS = apt firmware pip npm custom


ENABLE_FLATPAK=false
ENABLE_PIP=false
ENABLE_FWUPD=true
ENABLE_NPM=false
ENABLE_DOCKER_UPDATE=true
CUSTOM_COMMAND=""
